html,
body {
    height: 100%;
}

body {
    background-color: rgb(40, 40, 40);
}

.background {
    position: fixed;
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: 50%;
    transition: height .4s, opacity .4s;
    z-index: -1;
}

.header {
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-family: 'Six Caps', sans-serif;
    transition: opacity .4s .2s;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.view .header {
    opacity: 0;
    transition: opacity .2s;
}

.center {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .4s;
    z-index: 1;
}

.container {
    position: relative;
    width: 760px;
    height: 261px;
}

.cover {
    height: 261px;
    width: 175px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .4), 0 0 3px rgba(0, 0, 0, .2);
    background-size: cover;
    background-position: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    transition: transform .3s, left .4s, opacity .2s, height .4s, width .4s;
    cursor: pointer;
    z-index: 5;
}

.cover.dog {
    background-image: url('/static/images/dogs_purpose.jpg');
    left: 0;
}

.cover.king {
    background-image: url('/static/images/king_arthur.jpg');
    left: 195px;
}

.cover.macbeth {
    background-image: url('/static/images/lady_macbeth.jpg');
    left: 390px;
}

.cover.logan {
    background-image: url('/static/images/logan.jpg');
    left: 585px;
}

.cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
}

.container:hover .cover:after {
    background-color: rgba(0, 0, 0, .5);
}

.cover:hover {
    transform: scale(1.05);
}

.cover:hover:after {
    background-color: rgba(0, 0, 0, 0) !important;
}

.meta {
    position: absolute;
    top: 0;
    left: 66px;
    color: white;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
}

.meta .title {
    font-size: 36px;
    line-height: 1em;
    height: 36px;
    margin-bottom: 4px;
    text-shadow: 0 0 20px black;
}

.meta .sub {
    font-size: 20px;
    line-height: 1em;
    height: 20px;
    text-shadow: 0 0 20px black;
    opacity: .6;
}

.desc {
    position: absolute;
    bottom: -70px;
    color: white;
    transition: opacity .3s .1s;
    pointer-events: none;
}

.desc h2 {
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 4px;
    height: 20px;
    opacity: .6;
}

.desc .title {
    font-size: 26px;
    line-height: 1em;
    height: 26px;
}

.logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: .3;
    background-image: url('/static/images/cf_logo.png');
    background-size: contain;
    height: 27.5px;
    width: 125.5px;
    transition: opacity .2s;
    z-index: 2;
}

.logo:hover {
    opacity: 1;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 11px;
    padding: 20px;
    z-index: 2;
}

.copyright a {
    color: inherit;
}

.copyright a:hover {
    color: white;
    transition: color .2s;
}

.arrow {
    height: 86px;
    width: 86px;
    position: absolute;
    left: -84px;
    top: -11px;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
    cursor: pointer;
}

.content {
    position: fixed;
    top: 105px;
    left: 0;
    height: calc(100% - 175px);
    width: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.picker {
    padding: 30px 80px;
    text-align: right;
}

select {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(235, 235, 235);
}

option {
    color: black;
}

.graphs {
    padding: 0px 80px;
    height: calc(100% - 84px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .05);
}

.graph-container {
    display: none;
    width: calc(50% - 20px);
    height: 100%;
    max-height: 500px;
    flex-direction: column;
}

.ready .graphs {
    justify-content: space-between;
}

.ready .graph-container {
    display: flex;
}

.graph_title {
    color: white;
    padding: 20px;
}

.graph {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view .background {
    height: 105px;
    opacity: .4;
}

.view .center {
    height: 301px;
}

.view .desc {
    opacity: 0;
    transition: opacity .2s;
}

.view .cover.selected {
    left: 0;
    opacity: 1;
    height: 65px;
    width: 44px;
}

.view .cover {
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.view .cover:after {
    background-color: rgba(0, 0, 0, 0) !important;
}

.view .meta,
.view .arrow {
    opacity: 1;
    pointer-events: all;
    transition: opacity .4s .3s;
}

.view .content {
    pointer-events: all;
    opacity: 1;
    transition: opacity .4s .2s;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: rgb(75, 75, 75);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.ready .spinner {
    display: none;
}