html, body {
    height: 100%;
}
body {
    background-color: rgb(40,40,40);
}

.center {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .4s;
}

.container {
    position: relative;
    width: 760px;
    height: 261px;
}

.cover {
    height: 261px;
    width: 175px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.4), 0 0 3px rgba(0,0,0,.2);
    background-size: cover;
    background-position: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    transition: transform .3s, left .4s, opacity .2s, height .4s, width .4s;
    cursor: pointer;
}

.cover.dog {
    background-image: url('/static/images/dogs_purpose.jpg');
    left: 0;
}

.cover.king {
    background-image: url('/static/images/king_arthur.jpg');
    left: 195px;
}

.cover.macbeth {
    background-image: url('/static/images/lady_macbeth.jpg');
    left: 390px;
}

.cover.logan {
    background-image: url('/static/images/logan.jpg');
    left: 585px;
}

.cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .3s;
}

.container:hover .cover:after {
    background-color: rgba(0,0,0,.5);
}

.cover:hover {
    transform: scale(1.05);
}

.cover:hover:after {
    background-color: rgba(0,0,0,0) !important;
}

.background {
    position: fixed;
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: 50%;
    transition: height .4s, background-image 1s, opacity .4s;
    z-index: -1;
}

.meta {
    position: absolute;
    top: 0;
    left: 66px;
    color: white;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
}

.meta .title {
    font-size: 36px;
    line-height: 1em;
    height: 36px;
    margin-bottom: 4px;
    text-shadow: 0 0 20px black;
}

.meta .sub {
    font-size: 20px;
    line-height: 1em;
    height: 20px;
    text-shadow: 0 0 20px black;
    opacity: .6;
}

.desc {
    position: absolute;
    bottom: -70px;
    color: white;
    transition: opacity .3s .1s;
    pointer-events: none;
}

.desc h2 {
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 4px;
    height: 20px;
    opacity: .6;
}

.desc .title {
    font-size: 26px;
    line-height: 1em;
    height: 26px;
}

.logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: .3;
    background-image: url('/static/images/cf_logo.png');
    background-size: contain;
    height: 27.5px;
    width: 125.5px;
    transition: opacity .2s;
}

.logo:hover {
    opacity: 1;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgba(255,255,255,.3);
    font-size: 11px;
    padding: 20px;
}

.arrow {
    height: 86px;
    width: 86px;
    position: absolute;
    left: -84px;
    top: -11px;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
    cursor: pointer;
}

.view .background {
    height: 105px;
    opacity: .4;
}

.view .center {
    height: 301px;
}

.view .desc {
    opacity: 0;
    transition: opacity .2s;
}

.view .cover.selected {
    left: 0;
    opacity: 1;
    height: 65px;
    width: 44px;
}

.view .cover {
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.view .cover:after {
    background-color: rgba(0,0,0,0) !important;
}

.view .meta,
.view .arrow {
    opacity: 1;
    pointer-events: all;
    transition: opacity .4s .3s;
}