<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon" type="image/png" href="/static/icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rock+Salt|Six+Caps" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/reviews.css" />

    <title>Tweet Analysis - Movie Reviews</title>

</head>

<body>

    <div class="background"></div>
    <h1 class="header">Live Movie Reviews</h1>

    <div class="center">

        <div class="container">

            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="-288 411.9 18 18">
                <style>
                    .svg-arrow-left {
                        fill: none;
                        stroke: #ffffff;
                        stroke-width: 0.8;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                    }
                </style>
                <path id="XMLID_1_" d="M-277.5 417l-3 3.9 3 3.9" class="svg-arrow-left"></path>
            </svg>

            <div class="cover dog" data-title="A Dog's Purpose" data-id="dogs_purpose"></div>
            <div class="cover king" data-title="King Arthur: Legend Of The Sword" data-id="king_arthur"></div>
            <div class="cover macbeth" data-title="Lady Macbeth" data-id="lady_macbeth"></div>
            <div class="cover logan" data-title="Logan" data-id="logan"></div>
            <div class="meta">
                <p class="title"></p>
                <p class="sub">Live Movie Review</p>
            </div>
            <div class="desc">
                <h2>Select a film to continue</h2>
                <p class="title"></p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="picker">
            <select id="picker">
                <option value="1">1 Hour</option>
                <option value="12">12 Hours</option>
                <option value="72">3 Days</option>
            </select>
        </div>
        <div class="graphs">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="graph-container">
                <h2 class="graph_title">Number of Tweets</h2>
                <div class="graph" id="num"></div>
            </div>
            <div class="graph-container">
                <h2 class="graph_title">Total Sentiment</h2>
                <div class="graph" id="summed"></div>
            </div>
        </div>
    </div>


    <a target="_blank" href="http://www.codefirstgirls.org.uk/" class="logo"></a>
    <div class="copyright">&copy; Copyright 2017 <a href="http://abrainsight.com" target="_blank">Ruth</a>, Faiza, Sneha and Zhana</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/js/reviews.js"></script>
</body>

</html>